* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}



.header {
    background-color: rgb(219, 224, 226);
    width: 100%;
    height: 300px;
}

.informar-nome {
    text-decoration: blue;
}

.content {
    margin-top: 50px;
}

body {
    display: flex;
    align-content: center;
    flex-direction: column;
}

.container, footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.btnAdicionar {
    border-radius: 20px;
    padding: 10px;
    width: 120px;
    border: none;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

#nomeAmigo {
    margin-top: 20px;
    width: 150px;
    margin-right: 10px;
    border-radius: 20px;
    padding: 10px;
    border: none;
}

.btnSortear {
    border-radius: 20px;
    width: 150px;
    padding: 10px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.regras a {
    text-decoration: none;
    color: blue;
}

.mostrandoNomes li {
    margin-top: 10px;
    color: rgb(99, 180, 99);
    text-transform: uppercase;
    font-weight: bolder;
}


.resposta button {
    align-items: center;
    display: inline;
    padding: 12px;
    width: 150px;
    border-radius: 25px;
    text-transform: uppercase;
    background-color: #ff0000;
    border: none;
    font-weight: bolder;
    transition: 0.2s;
    margin-top: 10px;
}

.resposta button:hover {
    color: white;
    background-color: #ff0000;
    cursor: pointer;
}

.resposta {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content2 {
    margin-top: 20px;
}

footer {
    position: fixed; /* Fixa o footer na tela */
    left: 0; /* Alinha à esquerda */
    bottom: 0; /* Alinha ao rodapé da página */
    width: 100%; /* Garante que o footer ocupe toda a largura da página */
    background-color: #333; /* Cor de fundo do footer */
    color: white; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 20px 0; /* Espaçamento interno */
  }